[core]
	# Use custom `.gitignore`
	excludesfile = .gitignore

	# Treat spaces before tabs and all kinds of trailing whitespace as an error
	# [default] trailing-space: looks for spaces at the end of a line
	# [default] space-before-tab: looks for spaces before tabs at the beginning of a line
	whitespace = fix,space-before-tab,tab-in-indent,trailing-space

	autocrlf = true

	# Make `git rebase` safer on macOS
	# More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
	trustctime = false

	# Prevent showing files whose names contain non-ASCII symbols as unversioned.
	# http://michael-kuehnel.de/git/2014/11/21/git-mac-osx-and-german-umlaute.html
	precomposeunicode = false

	# Speed up commands involving untracked files such as `git status`.
	# https://git-scm.com/docs/git-update-index#_untracked_cache
	untrackedCache = true

[help]
	# Automatically correct and execute mistyped commands
	autocorrect = 1

[credential]
  helper = osxkeychain

[push]
	# https://git-scm.com/docs/git-config#git-config-pushdefault
	default = simple

	# Make `git push` push relevant annotated tags when pushing branches out.
	followTags = true

[user]
  # Do not guess the user's identity.
  # https://github.com/git/git/blob/90f7b16b3adc78d4bbabbd426fb69aa78c714f71/Documentation/config.txt#L2847-L2855
  useConfigOnly = true

  # [!] DO NOT store sensitive information such as the Git user
  # credentials (`name` / `email`), or things such as the `signingkey`
  # in this file, add them in `~/.gitconfig.local`!
  #
  # See also: https://github.com/alrra/dotfiles#gitconfiglocal

[include]
  # Load local configs.
  # https://git-scm.com/docs/git-config#_includes
  #
  # [!] The following needs to remain at the end of this file in
  # order to allow any of the above configs to be overwritten
  # by the local ones
  path = ~/.gitconfig.local
